{{ 
  if or (eq .chezmoi.os "darwin") 
    (and (eq .chezmoi.os "linux") 
      (or (eq .chezmoi.arch "amd64") (eq .chezmoi.arch "arm64")))
    -}}
#!/bin/bash

brew bundle --upgrade --file=/dev/stdin <<EOF

brew "git"
brew "htop"
brew "sl"
brew "tmux"
brew "vim"
brew "neovim"
brew "tree"
brew "grep"
brew "ripgrep"
brew "gawk"
brew "gnu-sed"
brew "zsh"
brew "rg"
brew "fd"
brew "jq"
brew "fzf"
brew "fpp"
brew "fnm"
brew "ghq"
brew "eza"
brew "sevenzip"
brew "poppler"
brew "ffmpeg"
brew "ghostscript"
brew "imagemagick"
brew "yazi"
brew "python"
brew "awscli"
brew "zoxide"
brew "pipx"
brew "ruby"
brew "rbenv"
brew "ruby-build"
brew "chezmoi"
brew "yt-dlp"
brew "sponge"

# casks 
cask "ghostty"
cask "iterm2"
cask "1password"
cask "1password-cli"
cask "karabiner-elements"
cask "bitwarden"
tap "nikitabobko/tap" # aerospace tap
cask "aerospace"
cask "protonvpn"
cask "proton-mail"
cask "arc"
cask "google-chrome"
cask "firefox@nightly"
cask "vscodium"
cask "xld"
cask "vlc"
cask "audacity"
cask "gimp"
cask "tidal"
cask "spotify"
cask "little-snitch"
cask "caffeine"
cask "hammerspoon"
cask "transmission"

{{ if eq .chezmoi.username "njooi" }}
# Additional work-related packages 

# Casks
cask "slack"
cask "microsoft-teams"
cask "microsoft-outlook" 
cask "zoom"
cask "amazon-workspaces"
{{- end }}

EOF
{{ end -}}
